<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Updates - Sorcerer's Guide</title>
	<link rel="icon" type="image/svg+xml" th:href="@{/icon/favicon.svg}">
	<div th:replace="~{common :: header-imports}"></div>

</head>

<body>

	<div th:replace="navigation :: navigation"></div>

	<div id="content" class="container text-center mt-2">
		<div class="upload-container">
			<div class="upload-content">
				<div class="single-upload">
					<h3>Upload the CSV File </h3>
					<form id="file-upload" name="file-upload">
						<input id="file-input" type="file" name="file" class="file-input" accept=".csv" required />
						<button type="submit" class="btn-sm btn-primary">Submit</button>
					</form>
					<div class="upload-response">
						<div id="error-msg"></div>
						<div id="success-msg"></div>
					</div>
				</div>

			</div>
		</div>
		<div class="delete-container">
			<form id="delete-form" name="delete-form">
				<button id="btn-delete-all" type="submit">Delete all updates</button>
				<div class="upload-response">
					<div id="response-msg"></div>
				</div>
			</form>
		</div>
		<div class="download-container">
			<a th:href="@{/admin/download/updates/updates.csv}">Download Updates file</a>
		</div>
	</div>


	<div th:replace="~{common :: footer-imports}"></div>
	<script src="/js/admin/pa/updates.js"></script>

</body>

</html>