<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>403 - Sorcerer's Guide</title>
	<link rel="icon" type="image/svg+xml" th:href="@{/icon/favicon.svg}">
	<div th:replace="~{common :: header-imports}"></div>

</head>

<body>

<div th:replace="navigation :: navigation"></div>

<div class="container text-center">

	<div class="text-center">
		<h1>Error 403 - Forbidden</h1>
		<p>You are not authorized to access this page.</p>
	</div>

	<div class="gif">
		<img src="/gifs/amazon-package.gif" height="300px" width="400px">
	</div>

	<div class="home mt-2">
		<a th:href="@{/}">Home</a>
	</div>

</div>


<div th:replace="~{common :: footer-imports}"></div>

</body>

</html>