.navbar {
    background-color: var(--navbar-background-color);
    padding: 4px;
}

.nav-link {
    color: var(--color);
    transition: transform 0.3s;
}

.nav-icon {
    padding: 8px 16px;
    margin: 4px;
}

.nav-icon:hover {
    cursor: pointer;
}

.nav-link:hover {
    color: var(--navbar-link-hover-color);
    transform: translateY(-2px);
}

.active {
    color: white;
    background-color: var(--nav-link-active-background-color);
    border-radius: 16px;
}

#btn-toggle-theme {
    margin: 4px;
}

.btn-logout {
    cursor: pointer;
    padding: 4px;
    margin: 2px;
}