<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Home - Sorcerer's Guide</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/icon/favicon.svg}">
	<link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/lib/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link rel="stylesheet" th:href="@{/css/navbar.css}">
	<link rel="stylesheet" th:href="@{/css/index.css}">

</head>

<body>

    <div class="text-right mt-3 mr-5">
        <span id="btn-toggle-theme" class="nav-icon mx-3">
            <i class="fa fa-moon"></i>
        </span>
        <small style="display: inline-block" class="mx-3">
            <form th:action="@{/logout}" method="POST">
                <button type="submit" name="logout" class="btn btn-sm btn-danger">Logout</button>
            </form>
        </small>
    </div>

    <div id="content" class="container text-center">
        <div class="card-deck mt-5">
            <div class="card bg-warning">
                <a th:href="@{/pa/}" class="card-body text-center">
                    <p class="card-text">PA</p>
                    <small class="hidden">Some details about PA?</small>
                </a>
            </div>
            <div class="card disabled">
                <a tabindex="0" class="card-body text-center" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Brand Level Control" data-content="Some amazing content coming soon... Excited?">
                    <p class="card-text">BLC</p>
                    <small class="hidden">Some details about BLC?</small>
                </a>
            </div>
            <div class="card disabled">
                <a tabindex="0" class="card-body text-center" data-toggle="popover" data-trigger="focus" data-placement="bottom" title="Restricted Products" data-content="Some amazing content coming soon... Excited?">
                    <p class="card-text">RP</p>
                    <small class="hidden">Some details about RP?</small>
                </a>
            </div>
        </div>
    </div>

	<script src="/js/theme.js"></script>
	<script src="/js/lib/jquery.min.js"></script>
	<script src="/js/lib/popper.min.js"></script>
	<script src="/js/lib/bootstrap.min.js"></script>
	<script src="/js/lib/font-awesome.min.js"></script>
	<script src="/js/index.js"></script>

</body>

</html>