<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Navbar -->
    <div class="navbar" th:fragment="navigation">
        <span id="side-navbar-btn-open" onclick="openNav()"><i class="fa fa-2x fa-bars"></i></span>
        <span id="side-navbar-btn-close" onclick="closeNav()"><i class="fa fa-2x fa-times"></i></span>

        <nav id="side-navbar" class="side-navbar" th:fragment="navigation">
            <ul id="navbar-heading-ul" class="navbar-nav text-center">
                <li class="nav-item">
                    <a id="heading-updates" th:class="${activePage == 'updates'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/dr/updates}">Updates</a>
                </li>
                <li class="nav-item">
                    <a id="heading-queries" th:class="${activePage == 'queries'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/dr/queries}">Queries</a>
                </li>
                <li class="nav-item">
                    <a id="heading-faqs" th:class="${activePage == 'faqs'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/dr/faqs}">FAQs</a>
                </li>
                <li class="nav-item" th:if="${#lists.contains(#request.userPrincipal.principal.roles, 'ROLE_ADMIN')}">
                    <a id="heading-admin" th:class="${activePage == 'admin'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <span id="btn-toggle-theme" class="nav-icon">
                        <i class="fa fa-2x fa-moon"></i><small></small>
                    </span>
                </li>
                <li class="nav-item">
                    <span class="nav-link">
                        <form th:action="@{/logout}" method="POST">
                            <button type="submit" name="logout" class="btn btn-sm btn-danger">Logout</button>
                        </form>
                    </span>
                </li>
            </ul>
        </nav>
    </div>

</body>

</html>