<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Navbar -->
    <div class="navbar" th:fragment="navigation">
        <span id="side-navbar-btn-open"><i class="fa fa-2x fa-bars"></i></span>
        <span id="side-navbar-btn-close"><i class="fa fa-2x fa-times"></i></span>

        <nav id="side-navbar" class="side-navbar" th:fragment="navigation">
            <ul id="navbar-heading-ul" class="navbar-nav text-center">
                <li class="nav-heading">
                    <a id="heading-home" th:class="'nav-link py-3 px-3'" th:href="@{/}"><img src="/icon/favicon.svg" alt="Home" height="50" width="50"></a>
                </li>
                <li class="nav-item">
                    <a id="heading-updates" th:class="${activePage == 'updates'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/{activeProgram}/updates(activeProgram=${activeProgram})}">Updates</a>
                </li>
                <li class="nav-item">
                    <a id="heading-checklist" th:class="${activePage == 'checklist'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/{activeProgram}/checklist(activeProgram=${activeProgram})}">Checklist</a>
                </li>
                <li class="nav-item">
                    <a id="heading-queries" th:class="${activePage == 'queries'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/{activeProgram}/queries(activeProgram=${activeProgram})}">Queries</a>
                </li>
                <li class="nav-item">
                    <a id="heading-faqs" th:class="${activePage == 'faqs'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/{activeProgram}/faqs(activeProgram=${activeProgram})}">FAQs</a>
                </li>
                <li class="nav-item">
                    <a id="heading-program-updates" th:class="${activePage == 'program-updates'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/{activeProgram}/program-updates(activeProgram=${activeProgram})}">Program Updates</a>
                </li>
                <li class="nav-item" th:if="${#lists.contains(#request.userPrincipal.principal.roles, 'ROLE_ADMIN')}">
                    <a id="heading-admin" th:class="${activePage == 'admin'} ? 'nav-link py-1 px-3 active' : 'nav-link py-1 px-3'" th:href="@{/admin}">Admin</a>
                </li>
            </ul>
        </nav>

        <div class="row p-0 m-0 navbar-header">
            <!-- Left -->
            <div class="col-3 navbar-left">
                <small class="navbar-left-link">
                    <a id="heading-pa" th:class="${activeProgram == 'pa'} ? 'nav-link py-1 px-3 navbar-header-active' : 'nav-link py-1 px-3'" th:href="@{/pa/}">PA</a>
                </small>
                <small class="navbar-left-link">
                    <a id="heading-blc" th:class="${activeProgram == 'blc'} ? 'nav-link py-1 px-3 navbar-header-active' : 'nav-link py-1 px-3'" th:href="@{/blc/}">BLC</a>
                </small>
                <small class="navbar-left-link">
                    <a id="heading-rp" th:class="${activeProgram == 'rp'} ? 'nav-link py-1 px-3 navbar-header-active' : 'nav-link py-1 px-3'" th:href="@{/rp/}">RP</a>
                </small>
            </div>

            <!-- Center -->
            <div class="col-6">
                <div class="scroll-tips-container">
                    <marquee behavior="scroll" direction="right" height="100%">Usage of NEXUS and Screen Recorder can help in error reduction.</marquee>
                </div>
            </div>

            <!-- Right -->
            <div class="col-3 navbar-right text-right">
                <small class="navbar-right-link">
                    <a th:href="@{/}" class="feedback-link">Feedback</a>
                </small>
                <small class="navbar-right-link">
                    <span id="btn-toggle-theme" class="nav-icon">
                        <i class="fa fa-2x fa-moon"></i><small></small>
                    </span>
                </small>
                <small class="navbar-right-link" style="display: inline-block">
                    <form th:action="@{/logout}" method="POST">
                        <button type="submit" name="logout" class="btn btn-sm btn-danger">Logout</button>
                    </form>
                </small>
            </div>
        </div>
    </div>

</body>

</html>